{% extends 'journal/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row min-vh-50 align-items-center justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="glass-panel-premium p-5 fade-in">
            <h2 class="fw-bold serif mb-4 text-center">Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary rounded-pill py-3 fw-bold hover-lift">Change
                        Password</button>
                    <a href="{% url 'password_reset' %}"
                        class="small text-muted text-decoration-none text-center mt-3 mb-1">Forgot Password?</a>
                    <a href="{% url 'profile_overview' %}" class="btn btn-link text-muted">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}